.box {
    border: 1px solid #CF4141; /* Bordure plus épaisse */
    border-radius: 40px; /* Coins plus arrondis */
    width: 180px;
    height: 300px; /* Hauteur fixe pour toutes les boîtes */
    margin: 10px;
    padding: 20px; /* Plus de padding pour espacer les éléments */
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffdada; /* Couleur de fond blanche */
    position: relative;
    overflow: hidden;
  }
   
  .box-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px; /* Hauteur de la partie arrondie */
    width: 100%;
    margin: -20px -20px 0 -20px; /* Ajustement des marges pour compenser le padding */
    padding: 0 20px; /* Padding pour la section arrondie */
    background-color: #f69c9c; /* Même couleur que le fond de la boîte */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 5px solid #CF4141; /* Bordure en bas pour délimiter */
    text-align: center;
    font-family: 'adumu.ttf', adumu; /* Changer la police ici */
    color: #CF4141; /* Changer la couleur du texte ici */
    font-size: 2em; /* Augmenter la taille de la police ici */
  }
   
  button {
    background-color: #f5c6c6; /* Couleur de fond blanche */
    border: 2px solid #CF4141; /* Bordure plus épaisse et contrastée */
    border-radius: 20px; /* Coins arrondis pour le bouton */
    padding: 10px 20px; /* Plus de padding pour un bouton plus grand */
    cursor: pointer;
    align-self: center;
    text-align: center; /* Centrer le texte */
    font-size: 1.2em; /* Taille de la police du bouton */
  }
   
  button:hover {
    background-color: #f69c9c; /* Fond plus sombre au survol */
  }
  