<div class="container">
  <h2>Analyses de la machine à Tri Optique :</h2>
  <div class="cards">
    <app-box
      [type]="'Température'"
      [averageValue]="averageTemperature"
      [instantValue]="sensorDatas[0].temperature"
    ></app-box>
    <app-box
      [type]="'Poussière'"
      [averageValue]="averageDust"
      [instantValue]="sensorDatas[0].dust"
    ></app-box>
    <app-box
      [type]="'Lumière'"
      [averageValue]="averageLight"
      [instantValue]="sensorDatas[0].light"
    ></app-box>
  </div>
  <alert-box
    *ngIf="treshold(sensorDatas[0])"
    type="{{ alertMessage }}"
  ></alert-box>
</div>
