<div class="container">
  <button (click)="exportToCSV()">Exporter les données en CSV</button>
  <table>
    <thead>
      <tr>
        <th>Heure</th>
        <th>Température (°C)</th>
        <th>Poussière (pcs/L)</th>
        <th>Lumière (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of exceededData">
        <td>{{ data.date }}</td>
        <td>{{ data.temperature }}</td>
        <td>{{ data.dust }}</td>
        <td>{{ data.light }}</td>
      </tr>
    </tbody>
  </table>
</div>
