<div class="header">
  <img src="assets/images/logo.png" alt="Tri Optique Logo" class="logo">
  <h1>MainTRIance</h1>
</div>
<div class="container">
  <h2>Analyses de la machine à Tri Optique :</h2>
  <div class="cards">
      <app-box [type]="'Température'" [averageValue]="25.5" [instantValue]="27.8"></app-box>
      <app-box [type]="'Poussière'" [averageValue]="35" [instantValue]="38"></app-box>
      <app-box [type]="'Lumière'" [averageValue]="800" [instantValue]="850"></app-box>
  </div>
</div>
