<div class="header">
  <img src="assets/images/logo.png" alt="Tri Optique Logo" class="logo">
  <h1>MainTRIance</h1>
</div>
<div class="container">
  <h2>Analyses de la machine à Tri Optique :</h2>
  <div class="cards">
      <app-box [type]="'Température'" [averageValue]="25.5" [instantValue]="sensorDatas[0].temperature"></app-box>
      <app-box [type]="'Poussière'" [averageValue]="35" [instantValue]="sensorDatas[0].dust"></app-box>
      <app-box [type]="'Lumière'" [averageValue]="800" [instantValue]="sensorDatas[0].light"></app-box>
  </div>
  <!-- <div *ngFor="let data of sensorDatas">
      <p>ID: {{ data._id }}</p>
      <p>Temperature: {{ data.temperature }}</p>
      <p>Humidity: {{ data.humidity }}</p>
      <p>Dust: {{ data.dust }}</p>
      <p>Light: {{ data.light }}</p>
      <p>Date: {{ data.date }}</p>
  </div> -->
</div>