<div class="header">
  <img src="assets/logo.png" alt="Tri Optique Logo" class="logo">
  <h1>MainTRIance</h1>
</div>
<div class="container">
  <h2>Analyses de la machine à Tri Optique :</h2>
  <div class="cards">
    <div class="card">
      <h3>Température</h3>
      <ul>
        <li>Moyenne /j : </li>
        <li>Température instantanée : </li>
      </ul>
      <button>+ de données</button>
    </div>
    <div class="card">
      <h3>Poussière</h3>
      <ul>
        <li>Moyenne /j :</li>
        <li>Taux de poussière instantané :</li>
      </ul>
      <button>+ de données</button>
    </div>
    <div class="card">
      <h3>Lumière</h3>
      <ul>
        <li>Moyenne /j :</li>
        <li>Luminosité instantanée :</li>
      </ul>
      <button>+ de données</button>
    </div>
  </div>
</div>
