.header {
  font-family: "Oswald";
  display: flex;
  align-items: center;
  justify-content: center; /* Centre le contenu */
  background-color: #7d9fe1;
  padding: 20px;
  position: relative;
}

.logo {
  height: 150px; /* Ajustez la taille selon vos besoins */
  position: absolute;
  left: 10px;
  top: 10px;
  transform: rotate(-10deg);
}

.header-title {
  font-family: "Adumu", Arial, sans-serif;
  font-size: 3em;
  color: #1a3b75;
  margin: 0;
}

.logout-button {
  position: absolute;
  right: 20px; /* Aligne le bouton à droite */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #d02816;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #e74c3c;
}
